@font-face {
    font-family: 'Tusker Grotesk';
    src: url('../font/TuskerGrotesk-4500Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tusker Grotesk';
    src: url('../font/TuskerGrotesk-5500Medium.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tusker Grotesk';
    src: url('../font/TuskerGrotesk-5600Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tusker Grotesk';
    src: url('../font/TuskerGrotesk-5700Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

$font-1: 'Tusker Grotesk';
$font-2:'poppins';
$white:#fff;
$black:#000;
$primary: #F8E301;
$secondary: #050505;
$text:#C0C3C5;
$heading: #0C0405;
$border:#4B4B4B;
$bg:#070707;
:root {
    scroll-behavior: auto !important;
}